<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicDATE</title>
    <link rel="icon" href="img/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
    <script type='text/javascript' src='/planetaryjs.min.js'></script>
</head>

<body>
    <div class="wrapper">
        <header>
                <a href="/index" class="logoIndex"><img src="img/tempLogo.svg" class="svg"></a>
        </header>
        <div class="content">
            <div id="boxWrapper">
                <div id="boxTabs">
                    <div class="tab loginTab">Login</div>
                    <a href="/register"><div class="tab inactiveTab signupTab" >Sign Up</div> </a>
                </div>
                <div id="loginContent">
                    <div class="illustration"></div>
                    <div class="formWrapper">
                        <form action="/auth/login" method="POST">
                            <label for="email">Email Adress</label>
                            <input type="email" class="form-control" id="email" name="email">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                        <div>
                          {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
            </div>
                        <p id="loginText"><span> Not registered yet? <br></span>
                       <a href="/register"><span class="switchText" id="switchToRegister">Sign up now</span></a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="globeWrapper">
                <canvas id='rotatingGlobe' width='400' height='400' style='width: 400px; height: 400px; cursor: move;'></canvas>
                <script src='/globe.js'></script>
            </div>
        </div>
    </div>
</body>

</html>