<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicDATE</title>
    <link rel="icon" href="img/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
    <script type='text/javascript' src='/planetaryjs.min.js'></script>
</head>

<body>
    <div class="wrapper">
        <header>
                <a href="/index" class="logoIndex"><img src="img/tempLogo.svg" class="svg"></a>
        </header>
        <div class="content">
            <div id="boxWrapper">
                <div id="boxTabs">
                   <a href="/login"> <div class="tab inactiveTab loginTab" class="loginTab">Login</div></a>
                    <div class="tab signupTab">Sign Up</div>
                </div>
                <div id="signupContent">
                    <div class="illustration"></div>
                    <div class="formWrapper">
                      <form action="/auth/register" method="POST">
                            <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name">
                              <label for="email">Email Adress</label>
                        <input type="email" class="form-control" id="email" name="email">
                             <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                         <label for="passwordConfirm">Confirm Password</label>
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm">
                           <button type="submit" class="btn btn-primary">Register User</button>
                        </form>
                        <div>
                          {{#if message }}
            <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
            </div>
                        <p id="signupText"><span> Already have an account? <br></span>
                          <a href="/login"><span class="switchText" id="switchToLogin">Login now</span> </a>
                        </p>
                    </div>
                </div>
            </div>
            <div id="globeWrapper">
                <canvas id='rotatingGlobe' width='400' height='400' style='width: 400px; height: 400px; cursor: move;'></canvas>
                <script src='/globe.js'></script>
            </div>
        </div>
    </div>
</body>

</html>