<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicDATE.</title>
    <link rel="icon" href="img/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <script type='text/javascript' src='http://d3js.org/d3.v3.min.js'></script>
    <script type='text/javascript' src='http://d3js.org/topojson.v1.min.js'></script>
    <script type='text/javascript' src='/planetaryjs.min.js'></script>
</head>

<body>
    <div class="wrapper">
        <header>
                <a href="/index" class="logoIndex"><img src="img/tempLogo.svg" class="svg"></a>
        </header>
        <div class="content">
            <div class="backgroundBox" id="registration2Box">
                <div class="registrationBox">
                    <form action="/auth/login" method="POST"> 
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control registrationInput" id="firstName" name="firstName">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control registrationInput" id="lastName" name="lastName">
                        <label for="city">City of residence</label>
                        <input type="text" class="form-control registrationInput" id="city" name="city">
                        <label for="country">Country of residence</label>
                        <input type="text" class="form-control registrationInput" id="country" name="country">
                        <label for="birthDate">Date of Birth</label>
                        <input type="date"  class=" form-control registrationInput" id="start" name="trip-start" value="2000-01-01" min="1920-01-01" max="2012-01-01">
                        <label for="instrument">Preferred Instrument</label>
                        <input type="text" class="form-control registrationInput" id="instrument" name="instrument">
                        <button type="submit" class="btn btn-primary registrationButton">Finish Registration!</button>
                    </form>
                </div>
                <div class="registrationText">
                    <div class="illustration" id="registrationIllustration"></div>
                    <p class="registration2Line1"> Almost done!</p>
                    <p class="registration2Line2">We just need a bit more information</p> 
                </div>
            </div>
        </div>
    </div>
</body>

</html>