<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="">
            <form action="/auth/login" method="POST">
            <button type="submit" id="logOut" onclick="logout()">Log out</button>
            </form>
        </div>
    </body>
    <script>
        function logout() {
            document.cookie = "username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        }
    </script>
</html>