* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-image: url("img/bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 0px;
    margin-left: 0px;
}

a{
    text-decoration: none;
}

.wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


/* HEADER */

.logo {
    height: 100%;
    width: auto;
    margin: 2px;
}

img {
    height: auto;
}

header {
    height: 10%;
    width: 100%;
    display: flex;
    padding: 12px;
}

.svg {
    height: 100%;
    width: 100%;
}


/* LOGIN and SIGNUP content */

.content {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boxWrapper {
    width: 50%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

#boxTabs {
    height: 17%;
    width: 70%;
    display: flex;
    color: white;
}

.tab {
    width: 100%;
    height: 100%;
    background-color: white;
    color: #34203D;
    opacity: 90%;
    text-align: center;
    justify-content: center;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
}

.loginTab {
    border-radius: 10px 0 0 0;
}

.signupTab {
    border-radius: 0 10px 0 0;
}

.tabLink {
    width: 100%;
    width: 50%;
}

.tabLink:hover {
    background-color: white;
}

#loginContent {
    height: 70%;
    width: 70%;
    display: flex;
    background-color: white;
    border-radius: 0 0 10px 10px;
    opacity: 90%;
}

#signupContent {
    height: 100%;
    width: 70%;
    display: flex;
    background-color: white;
    border-radius: 0 0 10px 10px;
    opacity: 90%;
}

.inactiveTab {
    width: 100%;
    cursor: pointer;
    background-color: lightgray;
}

.illustration {
    width: 35%;
    height: 100%;
    background-image: url("img/man.png");
    background-repeat: no-repeat;
}


/* #idWrapper{
    height: 100%;
    width: 65%;
} */

.formWrapper {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inactive {
    display: none !important;
}


/* Forms */

form {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 10pt;
    height: 20px;
    margin: 20px 0 0 10px;
}

.switchText {
    cursor: pointer;
    color: #693580;
}

.switchText:hover {
    color: #F19002;
    font-size: 10.5pt;
}

input,
button {
    width: 90%;
    border-radius: 40px;
    padding: 5px;
}

input[type="email"],
[type="text"] {
    background-color: #472854;
    color: white;
    font-size: 10pt;
}

input[type="password"] {
    background-color: #472854;
    color: white;
    font-size: 10pt;
}

button {
    background-color: white;
    border-color: #472854;
    color: #34203D;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #472854;
    color: white;
}


/* Login form */

#loginText {
    height: 10%;
    width: 100%;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 20px;
}

#signupText {
    height: 10%;
    width: 100%;
    font-size: 10pt;
    text-align: center;
    margin-bottom: 20px;
}


/* Globe */

#globeWrapper {
    width: 50%;
    height: 100%;
    padding-top: 125px;
    padding-left: 70px;
}

@media only screen and (max-width: 900px) {
    /* removes the globe and centers the content*/
    #globeWrapper {
        display: none;
    }
    #boxWrapper {
        width: 75%;
    }
    .formWrapper {
        width: 100%;
    }
    #loginText {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #loginContent {
        width: 100%;
    }
    #signupContent {
        height: 100%;
    }
    #boxTabs {
        width: 100%;
    }
    #signupContent {
        width: 100%;
    }
}

@media only screen and (max-width:700px) {
    /* removes the illustration*/
    #boxWrapper {
        width: 100%;
    }
    .illustration {
        display: none;
    }
    #loginEmail {
        width: 100%;
    }
    #loginPassword {
        width: 100%;
    }
    #signupEmail {
        width: 100%;
    }
    #signupPassword {
        width: 100%;
    }
    #signupContent {
        height: 100%;
    }
    input {
        margin-left: 5%;
    }
    label {
        margin-left: 5%;
    }
    button {
        margin-left: 5%;
    }
}

@media only screen and (max-width:420px) {
    #boxWrapper {
        width: 100%;
    }
    #content {
        width: 95%;
    }
    #signupContent {
        height: 100%;
    }
    input {
        margin-left: 5%;
    }
    label {
        margin-left: 5%;
    }
    button {
        margin-left: 5%;
    }
}

/* Registration 2  */

.backgroundBox{
    background-color: white;
    padding: 10px;
    height: 100%;
    width: 65%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.73); 
    box-shadow: 0px 0px 13px 1px rgba(0,0,0,0.73);
}

.registrationBox{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #472854;
}

.registrationText{
    width: 40%;
    height: 100%;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#registration2Box{
    opacity: 90%;
}

#registrationIllustration{
    height: 35%;
    width: 100%;
    background-position: center;
}

.registration2Line1{
    font-size: 16pt;
    font-weight: 600;
    margin: 0;
}

.registration2Line2{
    flex-wrap: wrap;
    text-align: center;
}

.registrationBox{
    padding-left: 20px;
}

.registrationInput{
    background-color: white;
    border-color: #472854;
    color: #34203D;
}

.registrationButton{
    background-color: #472854;
    border-color: white;
    color: white; 
    padding: 10px;
}

.registrationButton:hover{
    background-color: white;
    border-color: #472854;
    color: #34203D;
}

@media only screen and (max-width:710px){
    /* remove illustration and rearrange items*/

    #registrationIllustration{
        display: none ;
    }

    .backgroundBox{
        flex-direction: column-reverse ;
        padding: 0;
    }

    .registrationBox{
        width: 100%;
        border-right: none;
        height: 80%;
        padding: 0;
    }

    .registrationText{
        border-bottom: 2px solid #472854;
        width: 100%;
        height: 20%;
    }
}