<html>

<body>
    <form ref='uploadForm' id='uploadForm' action='/auth/upload' method='post' enctype="multipart/form-data">
        <input type="file" name="files" />
        <input type='submit' value='Upload!' />
    </form>
</body>

</html>
